* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

:root {
    --licorice: #1B1212;
    --gray: #6b6b6b;
    --text-dark: #252525;
    --text-light: #fafafa;
    --bg: #f2f1f0;
    --shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --li-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2);
    --red: rgb(223, 52, 52);
}

ul {
    list-style: none;
    user-select: none;
    -webkit-user-select: none; 

    & li {
        margin: 0;
        padding: 0;
        font-size: 12px;
        user-select: none;
        -webkit-user-select: none; 
    }
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:link,
    &:visited,
    &:active {
        color: inherit;
    }

    &:hover {
        color: var(-red);
        scale: 1.04;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

